@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .no-scrollbar::-webkit-scrollbar{
        display: none;
    }

    .no-dcrollbar{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}